<div class='container-fluid'>
  <div>
    <div>
      <h1>Text Summarizer </h1>
      <p>
        This is a simple text summarizer app using .NET Core, Angular, Python REST API built using Flask REST and summarizer built using Gensim python library
      </p>
      </div>
        <div class="col-md-5">

          <textarea style="width:100%;" rows="20" placeholder="Type here the text to summarize!"></textarea>
        </div>
        <div class="col-md-1" style="padding-top:200px;">
          <button type="button" class="btn btn-sm btn-primary"> Summarize ==></button>

        </div>
        <div class="col-md-5">
          <textarea style="width:100%;" rows="20" placeholder="The summary will appear here!"></textarea>

        </div>
      </div>
</div>
